{{/*###
TitleBar=Are you Purple Heart?
HeadingTitle=Stop!
KyutGrill=stop_sign.png
HeadingOnRight=true
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui raised segments">
		<div class="ui segment">
			你正在注册小号，当前服务器允许注册小号。但是限制为三个，当你注册第四个小号时你的硬件地址会被ban掉（ip暂时不管）
		</div>
		<div class="ui right aligned segment">
			<div class="ui buttons">
				<a tabindex="1" class="ui labeled blue icon button" href="/register?stopsign=1">
					<i class="right chevron icon"></i>
					{{ .T "知道了，废话真多！" }}
				</a>
			</div>
		</div>
	</div>
</div>
{{ end }}
