{{ define "tpl" }}
<div class="ui container">
	<div class="ui segment">
		你账号建好了，但是得登录下游戏才能通过验证
	</div>
	<div class="ui centered error  message">
		额……
	</div>
	<div class="ui segment">
		<ol class="ui list">
			<li><a href='https://old.kafuu.pro/about'><b>{{ .T "怎么登录？点这看看说明" }}</b></a></li>
			<li>人工客服：可加入pr群（233283633）或osuKafuu群（955377404）</li>
		</ol>
	</div>
	<div class="ui center aligned segment">
		<h1 class="ui heading">{{ .T "等待你登录游戏" }}</h1>
		<i class="circle notched huge loading icon"></i>
	</div>
</div>
{{ end }}
