{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		{{/* Dirty hack to detect if it's a multi */}}
		{{ if eq .TitleBar (.T "Welcome back!") }}
			<div class="ui segment">
				欢迎
			</div>
			<div class="ui center aligned segment">
				你这是小号，
			</div>
			<div class="ui segment">
				你号没了
			</div>
		{{ else }}
			<div class="ui segment">
				<h1 class="ui heading">{{ .T "Welcome to kafuu-osu!!" }}</h1>
			</div>
			<div class="ui segment">
				<p>欢迎欢迎</p>
				<ul class="ui list">
					<li><b><a href="/login">{{ .T "Login" }}</a></b>{{ .T " - 登录" }}</li>
					<li><b><a href="/about">{{ .T "Rules" }}</a></b>{{ .T " - 说明书" }}</li>
				</ul>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}
