{{/*###
Handler=/about
TitleBar=About
*/}}
{{ define "tpl" }}
<div class="ui container">
	<p>我开发此服务器的目标是搞一个高水平训练服务器，旨在帮助玩家提升屙屎水平</p>
	<p>目前只有基础的功能：注册登录、排行榜、osu!Direct（会根据ip所在地自动选择镜像，中国大陆地区将使用sayobot作为direct源）、机器人（游戏内打!help查看所有命令，比如用!ppboard把游戏内原本展示分数的排行榜变为展示pp的榜）、mp命令（!mp help，!mp make）、旁观、回放（正常）、中文名也可以搞，但是我不知都需不需要？</p>
	<p>目前基础的游戏模式：标准模式、relax模式、ap模式</p>
	<p>所有的图都有排行榜，love有pp</p>
	<p>待实现的东西：新网站、服务器反作弊、官服成绩导入、训练计划、score v2游戏模式、自定义pp算法</p>
	<p>现在是搞测试中，有啥问题可以来问我</p>
		<a href="https://github.com/kafuu-osu\">开放源代码</a>
	</div>
	<div>连接服务器的方式目前有三种：</div>
	<div><a href="https://dl.kafuu.pro/switcher.exe">1、需要更改hosts、安装证书的服务器切换器（与osu.ppy.sb和其他私服一致，修改hosts后在游戏时无法查看osu官网，无法挂梯子连接服务器）</a></div>
	<div><a href="https://dl.kafuu.pro/kafuu.exe">2（推荐）、定制的osu客户端！（放入osu目录中运行，与官服不冲突，无封号风险，不修改系统设置，游戏时可查看osu官网，可以挂梯子连接服务器）</a></div>
	<div>3、（需要教程，还没写）客户端补丁器，会创建一个osu.exe的副本，与定制客户端基本相同，但是有些地方不太齐全（如连接跳转）</div>
	<div>人工客服：可加入pr群（233283633）或osuKafuu群（955377404）</div>
</div>
{{ end }}
