{{/*###
Handler=/
TitleBar=
KyutGrill=homepage2.jpg
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
<div class="ui container">
	<div class=""> 
	<div class="main-block">
		<div class="eromanga-sensei"></div>
		<div class="content">
			<div class="status"></div>
			<br>
			<span class="text-lg">
				RealistikOsu!
			</span>
			<span class="text-sm">
				<b>Welcome to RealistikOsu!</b>


				RealistikOsu! is a private osu server with everything Bancho has to offer + more! We have our own community, our own beatmap ranking and a dedicated leadership team. Why hesitate? Join RealistikOsu! now!
				{{ .T "We currently have <b>%s online users and %s total registered users.</b>" (rediget "ripple:online_users") (rediget "ripple:registered_users") | html }}
			</span>
			<br>
			<br>
			<br><br><br>
			<div class="buttons">
				{{ if not .Context.User.ID }}
					<a href="/register" class="home-btn btn-key" >Register</a>
				{{end}}
				<a href="https://dl.ussr.pl/files/osu/ROS.exe" class="home-btn btn-how" style="margin-left: 6px;">Server Switcher</a>
			</div>
		</div>
	</div>
</div>
</div>
{{/* Global Statistics */}}
<div class="ui container">
        <div class="ui stackable four grid">
            <div class="eight wide column">
                <div class="ui blue segment">
                    <div class="ui grid">
                        <div class="four wide column">
                            <i class="adjust icon status-icon"></i>
                        </div>
                        <div class="twelve wide column">
			{{ $d := (qb "SELECT ROUND(pp) AS pp, users.username, users.id FROM scores INNER JOIN users ON scores.userid = users.id WHERE scores.play_mode = 0 AND completed = 3 AND users.privileges > 2 ORDER BY pp DESC LIMIT 1") }}
                            <p class="status-head">{{ $d.pp }}pp</p>
			    <p class="status-head">Done by <a href="/u/{{ $d.id }}">{{ $d.username }}</a></p>
                            <p class="status-footer">Top Vanilla Score</p>
                        </div>
                    </div>
                </div>
            </div>
	    <div class="eight wide column">
	       <div class="ui orange segment">
	          <div class="ui grid">
                     <div class="four wide column">
                         <i class="adjust icon status-icon"></i>
		     </div>
                     <div class="twelve wide column">
			{{ $d := (qb "SELECT ROUND(pp) AS pp, users.username, users.id FROM scores_relax INNER JOIN users ON scores_relax.userid = users.id WHERE scores_relax.play_mode = 0 AND completed = 3 AND users.privileges > 2 ORDER BY pp DESC LIMIT 1") }}
                         <p class="status-head">{{ $d.pp }}pp</p>
 			 <p class="status-head">Done by <a href="/rx/u/{{ $d.id }}">{{ $d.username }}</a></p>
			 <p class="status-footer">Top Relax Score</p>
		     </div>
	         </div>
	     </div>
	</div>


{{ end }}